.exact-summary-viz-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* height: 25%; */
  height: 140px;
  width: 100%;
}

.digital-viewers-stackbarchart {
  /* border-right: 1px dashed #333333; */
  /* margin-right: 5px; */
}

.exact-summary-viz-container-2 {
  display: flex;
}

.exact-summary-viz-container-left {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.exact-summary-viz-container-right {
  height: inherit;
}

.exact-summary-viz-number-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.digital-watchtime-stackedchart {
  padding-left: 5rem !important;
}

.exact-summary-viz-number {
  margin: 0 2rem 0 0;
}

.exact-summary-viz-number-entity {
  font-family: 'GraphikRegular';
  margin: 0 !important;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 13px;
  color: #333333;
}

.exact-summary-viz-number-value {
  font-family: GraphikMedium;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #333333;
}

.exact-summary-viz-number-avg-value {
  font-family: GraphikMedium;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #333333;
}

.exact-summary-viz-number-info {
  font-family: 'GraphikRegular';
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #00c48c;
  letter-spacing: 0.5px;
}

.exact-summary-viz-number-info svg {
  margin: 0 3px;
}

.exact-summary-viz-updateinfo-container p {
  font-family: 'GraphikRegular';
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #333333;
  margin-top: 5px;

}

/*Priyanka css*/
.main-excutive-summary {
  display: block
}

.digital-viewers,
.digital-watchtime {
  float: left;
  width: 26%;
  padding: 20px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.digital-viewers-stackbarchart,
.digital-watchtime-stackedchart {
  float: left;
  width: 24%;
  padding: 20px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.exact-summary-viz-number,
.exact-summary-viz-average {
  float: left;
}

.bdr {
  border-left: 2px dashed #dcdcdc;
  padding-left: 10px;
}

.excutive-summary {
  width: 100%;
}

.executive-summary-digital-viewers {
  width: 100%;
}

.executive-summary-digital-watchtime {
  width: 100%;
}

.viewer-numbers {
  display: flex;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .executive-summary-digital-viewers {
    width: 90%;
  }

  .executive-summary-digital-watchtime {
    width: 90%;
  }
}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {
  .executive-summary-digital-viewers {
    width: 90%;
  }

  .executive-summary-digital-watchtime {
    width: 90%;
  }
}

@media only screen and (min-width: 1607px) {
  .executive-summary-digital-viewers {
    width: 98%;
  }

  .executive-summary-digital-watchtime {
    width: 98%;
  }
}