.energy-svg {
    /* height: 170px; */
    height: 300px;
    overflow: visible;
    margin: 0;
}

.all-days-stkd-bar-chart-pop-up-mdl-cnt-vsbl{
    
    background: rgba(0, 0, 0, 0.75) !important;
    display: flex !important;
    align-items: flex-start !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    z-index: 1000 !important;
    padding: 1.2rem !important;
}

.svg-wrap {
    height: 100px;
    width: 100%;
    display: flex;
    position: relative;
    left: 40px;
}

.y-axis-svg {
    overflow: visible;
}

.x-axis-scroll {
    /* overflow-x: scroll; */
    /* margin-bottom: -150px; */
}

/* width */
.x-axis-scroll::-webkit-scrollbar {
    height: 5px;
    position: relative;
}

/* Track */
.x-axis-scroll::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.x-axis-scroll::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 9999px;
}

/* Handle on hover */
.x-axis-scroll:hover::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 9999px;
}

.stacekd-bar-chart-ticks {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #808080;
}

.line {
    stroke: rgb(148, 94, 210);
}

.x-label-max {
    color: #808080;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    font-family: GothamLight;
    cursor: pointer;
}

.x-label-7days {
    color: #3E1F76;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    font-family: GothamLight;
    /* cursor: pointer; */
}

.tooltip-stacked-bar-chart {
    /* background: #FFFFFF;
    border: 1px solid #D8E3FF;
    border-radius: 5px; */
    /* position: absolute; */
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* width: 100px; */
    /* padding: 0 5px; */
    /* width: 140%; */
    /* margin: ; */
}

.tooltip-stacked-bar-chart-right {
    /* background: #FFFFFF;
    border: 1px solid #D8E3FF; */
    border-radius: 5px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* padding: 0 4px; */
    width: 200%;
}

.tooltip-stacked-bar-chart div,
.tooltip-stacked-bar-chart-right div {
    /* width: 200%; */
    background: #FFFFFF;
    border: 1px solid #D8E3FF;
    border-radius: 5px;
    padding:5px;
    z-index: 100;
    position: absolute;
}

.tooltip-stacked-bar-chart p,
.tooltip-stacked-bar-chart-right p {
    /* font-weight: 400; */
    color: #333333;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'GothamLight';
    font-size: 12px;
}

.tooltip-area-stcked-barchart {
    z-index: 100;
    background-color: black;
}

.tooltip-area__text-stcked-barchart {
    z-index: 100;
    background-color: black;
}

text.chart-label {
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    font-family: GothamLight;
    /* cursor: pointer; */

}

@media only screen and (max-width: 1366px) {
    .svg-wrap {
        position: relative;
        left: 70px;
    }
}