.ilt20-summary-container {
    margin: 0;
    /* background: linear-gradient(165.96deg, #FFFFFF 0%, #F2F4FB 100%); */
    font-family: 'GothamMedium';
}


.digital-watchtime {
    padding-left: 56px;

}

@media only screen and (max-width: 767px) {
    .ilttwenty-navigation-tabs-container {
        padding-top: 30px !important;
    }

    .ilt20-header-subcontainer {
        display: block;
    }

    .ilt20-header-div-middle {
        padding: 0px;
    }

    .ilt20-header-div-right {
        float: right;
        padding-bottom: 20px;
        position: absolute;
        right: 10px;
        /* margin-top: -22px; */
    }

    .ilt20-header-div-middle {
        padding-top: 17px;
    }

    .ilt20-header-ilt20-text-3 h1 {
        font-family: 'GothamMedium';
        font-size: 12px;
    }

    .ilt20-header-div-middle {
        display: block;
    }

    .executive-summary-container,
    .digital-daywise-and-cumulative {display: inline-block;}
    .digital-viewers-stackbarchart,.digital-watchtime {margin-top: 40px;margin-left: -33px;}
    .exect-summary-main-2{display: inline;}
    .digital-watchtime {
        margin-top: 88px;
    }
    .digital-watchtime-stackedchart {
        margin-top: 40px;
        margin-left: -101px;
    }
    .executive-summary-main-container{height: 54rem!important;}
    .digital-viewers, .digital-viewers-stackbarchart, .digital-watchtime, .digital-watchtime-stackedchart{float: unset;width:50%;}
}