.executive-summary-content-linear-contents {
    background: #FFFFFF;
    width: 97%;
    display: grid;
    justify-content: center;
    border: 1px solid #D8E3FF;
    box-shadow: 0px 2px 5px #D6DEF8;
    border-radius: 4px;
}

.executive-summary-content-linear-contents-headers {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.executive-summary-content-linear-contents-header {
    width: 30%;
    margin: 0.5%;
    height: 24px;
    text-align: center;
    background-color: #E5E7FA;
}

.executive-summary-content-linear-contents-header:nth-last-child(3) {
    width: 15%;
}