.ilt20-header-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ilt20-header-ilt20-text-3 h1 {
    font-size: 34px;
}

.ilt20-header-ilt20-logo-2{
    margin-right: 25px;
}

.ilt20-header-zee-logo-4 {
    margin-left: 25px;
}

