.button{
    width: 330px;
    box-shadow: 0px 0px 13px 5px #0000001f;
    text-align: center;
    height: 60px;
    margin:20px;
}

.button:hover{
    /* background-color: aquamarine; */
    background-image: linear-gradient(to  bottom, rgb(139, 87, 223), rgb(74, 11, 176));
    color:white;

}
.data-towers {
    display: flex!important
;
}