.button{
    width: 20%;
    box-shadow: 0px 0px 13px 5px #0000001f;
    text-align: center;
    height: 60px;
    margin:20px;
}

.button:hover{
    /* background-color: aquamarine; */
    background-image: linear-gradient(to  bottom, rgb(139, 87, 223), rgb(74, 11, 176));
    color:white;

}
.data-towers {
  
    display: flex;
}
.Executive-Summary-tile{
    padding: 20px;
    display: flex; 
    width: 20%;
    box-shadow: 0px 0px 13px 5px #0000001f;
    text-align: center;
    height: 60px;
    margin:20px;
}
.tile-name{
    margin-top: 1.5px;
    padding-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}
a.sports {
        color: #212529;
        text-decoration: none;
}
    .tile-name:hover {
        color: #212529;
    }
    .Executive-Summary-tile:hover {
        color: white;
        border-radius: 2px;
        background: rgb(55, 15, 119);
    }