.ilttwenty-navigation-tabs-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

}

.navigation-tab-inactive {
    font-family: GraphikBold;
    margin: 0 0;
    color: #808080;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    transition: 0.15s ease-in;
}

.navigation-tab-active {
    font-family: GraphikBold;
    color: #3E1F76;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    border-bottom: 3px solid #3E1F76;
    transition: 0.2s ease;
}

.navigationtab-ul {
    display: flex;
    list-style: none;
    border-bottom: 1px solid #D8E3FF;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.navigationtab-ul li {
    padding: 0.6rem 0.5rem;
    cursor: pointer;
    width: 100%;
}