text {
  font-size: 0.4em;
  font-family: "GothamLight";
  /* text-align: center; */
}

.bubble-legend-box {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.bubble-legend-label {
  font-family: "Lato";
  color: #532c6c;
  padding-left: 1em;
}

#bubble-legend-container {
  display: none;
}

#bubble-legend {
  columns: 2;
  padding-top: 3em;
}

#bubble-legend li {
  padding-bottom: 1em;
}

.accessible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
