.executive-summary-tab {
    border: none;
    color: #212529;
    background: #E9EFFF;
    border-radius: 4px;
    width: 24%;
    height: 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
}

.executive-summary-active-tab{
    background: linear-gradient(180deg, #7E5AA4 0%, #3E1F76 100%);
    border-radius: 4px;
    color: #FFFFFF;
    width: 24%;
    height: 30px;
    border: none;
    cursor: pointer;
}

