.executive-summary-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.executive-summary-linear {
    width: 33%;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.executive-summary-linear-title {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.executive-summary-linear-subtitle {
    margin: 1rem 0;
    border: 1px solid gray;
    border-radius: 5px;
    width: 55%;
    height: 19px;
}

.executive-summary-linear-subtitle p {
    padding: 5px;
    margin: 0 !important;
}

.executive-summary-tile {
    background-color: #f3f3f3;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
}

.executive-summary-tile-name h4 {
    margin: 0 !important;
    padding-top: 1rem;
}

.executive-summary-tile-primary-val {
    font-size: 24px;
    margin-top: 0.5rem;
}

.executive-summary-tile-secondary-val {
    display: flex;
    margin:0.5rem 0;
}

.executive-summary-tile-secondary-val-perneg{
    margin: 0 1rem;
    color: rgb(180, 11, 11);
}

.executive-summary-tile-secondary-val-perpos{
    margin: 0 1rem;
    color: rgb(62, 186, 4);
}

.executive-summary-tile-secondary-val-num{
    color: grey;
}

.executive-summary-digital {
    width: 66%;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.update-detail {
    width: 95%;
    text-align: start;
    margin-bottom: 8px;
    color: gray;
}

.d-block {
    display: block;
}

.digital-daywise-and-cumulative{
    display: flex;
    width: 100%;
}

.digital-performance {
    width: 100%;
    display: grid;
    justify-items: center;
}

.executive-summary-digital-title {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    background-color: rgba(196, 255, 198, 0.607);
    justify-content: center;
    align-items: center;
    width: 100%;
}
img.executive-summary-linear-image {
    margin-top: -7px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px){ 
    .executive-summary-linear-subtitle p{font-size: 10px;}
    .executive-summary-linear{width: 30%;}
 }
 @media only screen and (max-width: 767px) {
    .executive-summary-container{display: grid;}
    .executive-summary-linear,.executive-summary-digital{width: 100%;}
 }
