.executive-summary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.executive-summary-main-container {
  margin-bottom: 10px;
  /* margin: 30px; */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #d8e3ff;
  box-shadow: 0px 2px 5px #d6def8;
  border-radius: 4px;
}
h2.Digital {
  font-size: 16px;
}
.exect-summary-main-1 {
  font-family: 'GothamMedium';
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.exect-summary-main-2 {
  margin-left: 0px;
  display: flex;
}

.executive-summary-main-container-partition {
  float: left;
  width: 3px;
  /* background-color: #D8D8D8; */
  height: 120px;
  padding: 0 10px;
  /* stroke-dasharray: 1; */
  border-left: 3px dotted #d8d8d8;
}

.executive-summary-linear {
  width: 33%;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.executive-summary-linear-title {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.executive-summary-linear-subtitle {
  margin: 1rem 0;
  border: 1px solid gray;
  border-radius: 5px;
  width: 55%;
  height: 29px;
}

.executive-summary-linear-subtitle p {
  padding: 5px;
  margin: 0 !important;
}

.chart-container {
  width: 100%;
}

.executive-summary-tile {
  background-color: #f3f3f3;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

.executive-summary-tile-name h4 {
  margin: 0 !important;
  padding-top: 1rem;
}

.executive-summary-tile-primary-val {
  font-size: 24px;
  margin-top: 0.5rem;
}

.executive-summary-tile-secondary-val {
  display: flex;
  margin: 0.5rem 0;
}

.executive-summary-tile-secondary-val-perneg {
  margin: 0 1rem;
  color: rgb(180, 11, 11);
}

.executive-summary-tile-secondary-val-perpos {
  margin: 0 1rem;
  color: rgb(62, 186, 4);
}

.executive-summary-tile-secondary-val-num {
  color: grey;
}

.executive-summary-digital {
  width: 66%;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.update-detail {
  width: 95%;
  text-align: start;
  margin-bottom: 8px;
  color: gray;
}

.d-block {
  display: block;
}

.digital-daywise-and-cumulative {
  display: flex;
  width: 100%;
}

.digital-performance {
  width: 100%;
  display: grid;
  justify-items: center;
}

.executive-summary-digital-title {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-color: rgba(196, 255, 198, 0.607);
  justify-content: center;
  align-items: center;
  width: 100%;
}

img.executive-summary-linear-image {
  margin-top: -11px;
}

@media only screen and  (max-width: 1366px) {
    
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .executive-summary-linear-subtitle p {
    font-size: 10px;
  }

  .executive-summary-linear {
    width: 30%;
  }
}

@media only screen and (max-width: 767px) {
  .executive-summary-container,
  .digital-daywise-and-cumulative {
    display: grid;
  }

  .executive-summary-linear,
  .executive-summary-digital {
    width: 80%;
  }

  .executive-summary-linear-subtitle {
    width: auto;
  }

  .digital-performance {
    width: 79%;
  }
}
/* @media only screen and (max-width: 1440px) and (min-width: 1366px){
.areachart-container svg {
  width: 300px !important;
}
}
@media only screen and (max-width: 1365px) and (min-width: 1280px){ 
  .areachart-container svg {
    width: 300px !important;
  }
} */