.login-page {
    position:relative;
    margin-left: 10%;
    width: 20%;
    margin-top: -65px;
}

.login {
    padding-right: 20px!important;
    padding-left: 20px!important;
    padding-bottom: 8px!important;
    padding-top: 8px!important;
    text-decoration: none;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 30px;
    background-image: linear-gradient(180deg, #7E5AA4 0%, #3E1F76 100%);
    color: white;
    border: 0px;
    font-weight: bold;
    font-size: 10px;
    width: 35%;
    border-radius: 4px;
    text-align: center;
}
p.forgot-password {
    margin-top: -4px;
    display: flex;
    align-items: center;
    color: #808080;
    font-weight: 200;
    font-size: 10px;
    line-height: 19px;
    margin-bottom: 0px!important;
    float: right;
    font-family: 'GothamMedium';
}

.branding-image {
    padding-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    z-index: -1;
}

.login:hover {
    color: #fff !important;
}

input.login {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 10px;

}

input[type="email"],
input[type="password"] {
    padding-left: 20px!important;
    font-weight: 300;
    font-size: 12px;
    /* line-height: 13px; */
    font-family: 'GothamMedium';
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 4px 5px;
    width: 100% !important;
    padding: 5px;
}

img.email-image {
    position: absolute;
    bottom: 8px;
    left: 10px;
    top: 10px;
}
img.password-image {
    position: absolute;
    bottom: 8px;
    left: 10px;
    top: 47px;
}
/*Media query for mobile*/
@media only screen and (max-width: 767px) {
    .branding-image{ padding: 2px;width: -webkit-fill-available;height: auto;}
    .login-page{width: 35%;margin-left: 0%;margin-top: -20px;}
    input[type="email"], input[type="password"]{padding: 2px;font-size: 10px; margin: 4px 5px;}
    .login{width: 40%;padding: 2px;font-size: 5px;}
    p.forgot-password{font-size: 5px;}
    img.email-image{top:8px;}
    img.password-image{top:37px;}
}
/*Media query for ipad*/
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .login-page {
        margin-left: 2%;
        width: 30%;
        margin-top: -65px;
    }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .login-page {
        margin-left: 2%;
        width: 30%;
        margin-top: -65px;
    }
    .branding-image{ padding: 2px;width: -webkit-fill-available;height: auto;}
 }