.head{
    display: flex;
}
.loginUser {
    float: right;
    vertical-align: middle;
    display: flex;
}
.logo-datatowers {
    float: left;
}
.data-tower-head {
    height: 50px;
    padding: 5px 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.username{
    font-family: 'GothamMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #333333;
}
