.viewership-performance-tab-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.viewership-navigation-tab-inactive {
    background: #E9EFFF;
    border-radius: 4px;
    font-weight: 500;
    margin: 0;
    color: #333333;
    font-size: 14px;
    line-height: 15px;
}

.viewership-navigation-tab-active {
    background: linear-gradient(180deg, #7E5AA4 0%, #3E1F76 100%);
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}

.viewership-navigationtab-ul {
    display: flex;
    list-style: none;
    margin: 0 !important;
}

.viewership-navigationtab-ul li {
    margin: 0.3rem 0.5rem   !important;
    padding: 0.4rem 3rem;
    cursor: pointer;
}

.viewership-preformance-summary {
    /* max-width: 1300px; */
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* @media only screen and (max-width: 767px) {
    .viewership-preformance-summary{margin-top: -60px!important;}
} */