.viewership-performance-tab-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.viewership-navigation-tab-inactive {
    background-color: #D9D9D9;
    font-weight: 500;
    margin: 0 0;
}

.viewership-navigation-tab-active {
    background-color: #7030A0;
    color: white;
    font-weight: 500;
}

.viewership-navigationtab-ul {
  
    display: flex;
    list-style: none;
    margin: 0 !important;
}

.viewership-navigationtab-ul li {
    padding: 0 1.5rem;
    margin: 0.3rem 0 !important;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
}

.viewership-preformance-summary{
    /* max-width: 1300px; */
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    height: 300px;
}
/* @media only screen and (max-width: 767px) {
    .viewership-preformance-summary{margin-top: -60px!important;}
} */