.stacked-bar-chart-cont {
    width: 100%;
    height: 100%;
}

.tooltip-area {
    z-index: 100;
    background-color: black;
    position: absolute;
}

.tooltip-area__text {
    z-index: 100;
    background-color: black;
}

.tooltip {
    background: #FFFFFF;
    border: 1px solid #D8E3FF;
    border-radius: 5px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center

    /* position: relative;
    display: inline-block;
    background-color: black;
    padding: 10px;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    fill-opacity: 100;
    font-family: "Robot Mono", sans-serif;
    color: whitesmoke;
    padding: 1rem;
    font-size: 15px;
    z-index: 100; */
}

.svg-wrap-all-days-stacked-bar-chart {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    left: 40px;
}

.tooltip p {
    color: #333333;
    margin: 0 !important;
    padding: 0 !important;
}

.tooltip-matchOne {
    color: black;
}

.tooltip-title {
    color: red;
}