.ilt20-filterbar-container {
    display: flex;
    justify-content: flex-start;
}

.ilt20-filterbar-navigation{
    width: 1.1rem;
    padding-bottom: 40px;
}

.ilt20-filterbar-select select {
    width: 10rem;
    height: 1.8rem;
    font-weight: 600;
}



.ilt20-filterbar-select p{
    font-size: 10px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px){ 
    .ilt20-filterbar-navigation{width: auto;}
    .ilttwenty-navigation-tabs-container{padding: 0 0rem!important;}
}
