@media only screen and (max-width: 767px) {
    
}
.branding-image {
    padding-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.tagline{
 color:#808080;
}
.login-page {
    margin-left: 15%;
    width: 25%;
}
